.h2{
    color: red;
}
.card{
border-radius: 30px;
border-color: black;
border-width: 2px;
text-align: center;
width: 350px;
border-style: solid;
overflow: hidden;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
background-color: blueviolet;
}

.card img{
    width: 100%;
}

.card button{
    width: 70%;
    padding: 10px;
border-radius: 20px;
margin-bottom: 20px;
}

.card button:hover{
    background-color: burlywood;
    cursor: pointer;
}

.navbar{
    border: 2px solid rgb(170, 54, 74);
    text-align: center;
    padding: 15px;
    background-color: white;
}
.navbar a{
        text-decoration: none;
        padding: 15px;

}
.navbar a:hover{
    color: rgb(31, 179, 75);
    text-decoration: underline;
}
body{
    background-color: rgb(201, 137, 10);
    margin: 0px;
}